{% extends 'base.html' %}
{% load static %}

{% block title %}Accueil | Anti-Foutage de Gueule{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'theorie.css' %}">
{% endblock %}

{% block body_class %}theorie-page{% endblock %}
{% block content %}
    <br><br><br><br>
    <h1 class="titre">Page Théorie</h1>
    <br>
    <hr>
    
    <div class="titre">
        <h1>{{ theorie.titre }}</h1>
    </div>
    <div class="theorie">       
        <p>{{ theorie.contenu|safe }}</p>       
    </div>


    <br><br><br>
    <div class="commentaire">
        <h1 class="espace_commentaire">Espace Commentaires</h1>
        
        <div class="tout_com">
            {% for commentaire in commentaires %}
                <p class="auteur">{{ commentaire.auteur.username }}</p>
                <p class="contenu_com">{{ commentaire.contenu }}</p>
            <br><br>
            {% empty %}
                <li>Aucun commentaire pour le moment.</li>
            {% endfor %}
        </div>

        <hr>
        <div class="formulaire">
            <h2 class="ajouter_com">Ajouter un commentaire</h2>
            <form method="post" action="{% url 'enquetes:ajouter_commentaires' theorie.id %}">
                {% csrf_token %}
                {{ form.as_p }}
                    
                {% if user.is_authenticated %}
                    <button type="submit">Envoyer</button>
                {% else %}
                    <p style="color: red;">Vous devez être connecté avant de commenter.</p>
                    <button type="submit" disabled>Envoyer</button>
                {% endif %}
            </form>
        </div>
    </div>
</html>
{% endblock %}
